.profile {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	gap: 0.75rem;

	@include shift(fluid-rem(18));

	&__header {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		min-height: fluid-rem(82);
	}

	&__main {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;

		width: 100%;
		height: 100%;

		&__middle-block {
			width: fluid-rem(1405);

			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			gap: 1rem;
			// padding: 1rem 1rem;


			margin-block-start: auto;
		}
	}

	&__footer {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		gap: 1rem;

		width: 100%;
		min-height: fluid-rem(72);

		margin-block-start: auto;
	}

	&__socials {
		&-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: flex-start;
			gap: 1rem;

			animation: fade-in 0.5s ease-in-out 0.25s both, move-left-to-right 0.5s ease 0.25s both;
		}
		&__icons {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 1.135rem;
		}

		&__icon {
			&-wrapper {
				background: var(--wrapper-color);
				border-radius: 50%;
				filter: drop-shadow(0 fluid-rem(1) fluid-rem(2) $shadow-a-0);

				display: flex;
				justify-content: center;
				align-items: center;

				position: relative;

				width: fluid-rem(42);
				height: fluid-rem(42);
				padding: 0.5rem;

				display: grid;
				place-items: center;

				flex-shrink: 0;
				overflow: hidden;
				position: relative;

				&.icon-only {
					background: none;
					padding: 0;
				}

				&::after {
					content: '';
					position: absolute;
					inset: 0;
					border-radius: inherit;
					background: rgba(255, 255, 255, 0);

					transition: background 0.1s ease-out;
				}

				&:hover {
					cursor: pointer;
					&::after {
						background: rgba(255, 255, 255, 0.35);
					}
				}

				&:active {
					&::after {
						background: rgba(255, 255, 255, 0.25);
					}
				}
			}

			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}

@keyframes move-left-to-right {
	from {
		transform: translateX(-55%);
	}

	to {
		transform: translateX(0);
	}
}

@keyframes fade-in {
	from {
		opacity: 0;
		filter: brightness(0) saturate(2);
	}
	50% {
		opacity: 0.25;
	}
	to {
		opacity: 1;
		filter: brightness(1) saturate(1);
	}
}
