:root {
	// Surface colors (Background, Border, etc.)
	--surface-a-0: #EEE;
	--surface-a-1: linear-gradient(to top, #F4F2F2, #E3E1E1 40%, #E3E1E1 60%, #E3E1E1);
	--surface-a-3: #CCC;
	--surface-a-4: #C0C0C0;
	--surface-a-5: #DEDEDE;

	--surface-b-0: #363636;

	--surface-gradient-a-0: linear-gradient(to bottom, #CCC, #D1D1D1 50%, #E8E8E8 90%, #F0F0F0 96%, #FAFAFA);

	--tab-surface-highlight: rgba(255, 255, 255, 0.2);

	// Shadows
	--shadow-a-0: rgba(0, 0, 0, 0.35);

	// Easings
	--ease-out-smooth: cubic-bezier(0.00, 0.94, 0.51, 1.00);


	// Text colors
	--text-a-0: #333;


	// Accents
	--accent-a-0: #fcff39;

	// Icon colors
	--icon-fill-a-0: #EEE;
	--icon-fill-a-1: #F7F7F7;

	--icon-fill-b-0: #333;

	--tab-icon-fill-a-0: #313739;

	--icon-stroke-a-0: #EEE;
	--icon-stroke-a-1: #F7F7F7;

	// Fonts
	--special-header-font: 'Bebas Neue', sans-serif;
	--decorator-font: 'Inter', sans-serif;
}
