:root {
	--surface-a-0: #EEE;
	--surface-a-1: #E8E5E5;
	--surface-a-3: #CCC;

	--surface-b-0: #363636;


	--shadow-a-0: rgba(0, 0, 0, 0.35);

	--ease-out-smooth: cubic-bezier(0, 0.25, 0.5, 1);


	--text-a-0: #333;

	--accent-a-0: #fcff39;
}
