.backdrop-profile {
	width: 100%;
	height: fluid-rem(1080);

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;

	transform: perspective(fluid-rem(800)) scale(1);
	animation: zoom-out 0.5s $ease-out-smooth forwards;

	&__header {
		position: relative;
		background: $surface-a-0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: fluid-rem(82);

		overflow: hidden;
	}

	&__main-top {
		background: $surface-b-0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		height: fluid-rem(568);
		position: relative;

		overflow: hidden;
	}

	&__main-bottom {
		background: $surface-a-0;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		width: 100%;
		// height: 48%;
		position: relative;

		overflow: hidden;
	}

	&__footer {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		// gap: 1rem;

		width: 100%;
		min-height: fluid-rem(73.5);

		margin-block-start: auto;

		&__top-decorator {
			position: absolute;
			top: 0;
			width: fluid-rem(1405);
			height: fluid-rem(2);
			background: $surface-a-3;

			@include shift(fluid-rem(18));
		}

		&__content-container {
			position: relative;
			display: flex;
			justify-content: center;
			align-items: center;
			width: fluid-rem(1405);
			height: 100%;

			@include shift(fluid-rem(18));
		}

		&__quote {
			position: absolute;
			top: fluid-rem(9);
			left: 0;
			font-size: 0.65rem;
			letter-spacing: -0.1em;
			line-height: 1.1em;
			color: $surface-a-4;
			font-family: $decorator-font;
			font-weight: 800;
			text-transform: uppercase;
			transform: scaleY(0.8);

			&::after {
				content: '';
				position: absolute;
				bottom: fluid-rem(-1);
				left: 50%;
				transform: translateX(-50%);
				width: 97.75%;
				height: 0.175em;
				background: linear-gradient(to bottom, $surface-a-3 0%, $surface-a-3 55%, $surface-a-5 55%);
			}
		}

		&__oseer-plate {
			position: absolute;
			top: fluid-rem(9);
			right: 0;
			font-size: 0.95rem;
			line-height: 1.1em;
			color: $surface-a-4;
			font-family: $decorator-font;
			font-weight: 800;
			text-transform: uppercase;
		}
	}

	&__image {
		isolation: isolate;
		position: relative;

		--backdrop: url('/images/backdrop.avif');

		background: var(--backdrop) no-repeat center;
		background-size: cover;

		filter: grayscale(0.5) opacity(0.35);

		mask:
			radial-gradient(ellipse fluid-rem(512) fluid-rem(128) at 28% 45%, transparent 50%, #000 100%),
			radial-gradient(ellipse fluid-rem(256 + 128) fluid-rem(128) at 72% 40%, transparent 50%, #000 100%),
			linear-gradient(to right, transparent 1%, #000 5%, #000 80%, transparent 99%),
			linear-gradient(to top, #000 0%, #000 30%, transparent 90%, transparent);
		-webkit-mask-composite: intersect;
		mask-composite: intersect;

		width: fluid-rem(1920);
		height: 100%;

		&::after {
			content: '';
			position: absolute;
			inset: 0;
			background: linear-gradient(to right, $surface-b-0 0%, transparent 35%, transparent 85%, transparent 98%, $surface-b-0);
			background-size: auto 100%;
			filter: blur(fluid-rem(10));
		}

		&__overlay {
			position: absolute;
			width: 100%;
			height: 100%;
			background: $surface-a-0;

			mask:
				radial-gradient(ellipse fluid-rem(1024) fluid-rem(512) at fluid-rem(1920 * 0.7) 150%, rgb(0, 0, 0, 0.25) 50%, transparent 100%),
				radial-gradient(ellipse fluid-rem(256) fluid-rem(256) at fluid-rem(1920 * 0.85) 100%, rgb(0, 0, 0, 0.25) 50%, transparent 100%),
				radial-gradient(ellipse fluid-rem(1024) fluid-rem(512) at fluid-rem(1920 * 0.2) 130%, rgb(0, 0, 0, 0.25) 50%, transparent 100%);
			-webkit-mask-composite: source-over;
			mask-composite: add;
		}
	}

	&__stripes-wrapper,
	&__quads-wrapper,
	&__frames-wrapper {
		position: absolute;
		inset: 0;
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: flex-start;

		overflow: hidden;

		&.of-header {
			height: calc(100% - fluid-rem(3));
		}
	}

	&__stripes {
		flex: 1;
		height: 100%;

		&.of-header {
			flex: none;
			width: fluid-rem(1920);
			height: fluid-rem(82 - 3);
		}

		&__overlay {
			position: absolute;
			width: fluid-rem(1920);
			height: 100%;

			&.of-header {
				background: $surface-a-0;
				mask: linear-gradient(to right, #fff 0%, #fff 20%, transparent 25%, transparent 75%, #fff 80%, #fff 100%);
			}

			&.of-main-top {
				background: $surface-b-0;
				mask: linear-gradient(to right, transparent 0%, transparent 2.5%, #fff 8%, #fff 92%, transparent 100%);
			}
		}
	}

	&__quads {
		position: absolute;
		height: 100%;
		width: fluid-rem(1920);

		&.of-main-top {
			--mask-x: 80%;
			--mask-y: 25%;
			mask: radial-gradient(ellipse fluid-rem(256 + 128) fluid-rem(128) at var(--mask-x) var(--mask-y), #000 0 fluid-rem(64 + 32), transparent 100%);

			-webkit-mask-composite: source-in;
			mask-composite: intersect;
		}

		&.of-footer {
			&.left-six-quads {
				position: absolute;
				left: 0;
				top: fluid-rem(10);
			}
		}
	}

}
