.backdrop-layer {
	position: absolute;
	inset: 0;

	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	overflow: hidden;

	transform: perspective(fuild-rem(800)) scale(1.1);
	animation: zoom-out 0.5s $ease-out-smooth forwards;

	z-index: -1;
}

.backdrop {
	&__header {
		background: $surface-a-0;
		width: 100%;
		height: fuild-rem(80);
	}

	&__main-top {
		background: $surface-b-0;
		width: 100%;
		height: 52%;
	}
}


@keyframes zoom-out {
	from {
		transform: perspective(fuild-rem(800)) scale(1.1);
	}

	10% {
		transform: perspective(fuild-rem(800)) scale(1.1);
	}

	to {
		transform: perspective(fuild-rem(800)) scale(1);
	}
}
