.backdrop-layer {
	position: absolute;
	width: 100%;
	height: $page-height;
	overflow: hidden;
	background: $surface-gradient-a-0;
	z-index: -1;
}

.backdrop-free-space {
	position: absolute;
}

.backdrop {
	&__header {
		position: relative;
		width: 100%;
		height: $header-height;
		overflow: hidden;

		z-index: 2;

		&__stripes {
			flex: none;
			position: absolute;
			top: 0;
			height: 100%;
			width: $page-width;
			left: 50%;
			transform: translateX(-50%);

			mask: linear-gradient(to right, transparent 0%, transparent 20%, #000 25%, #000 75%, transparent 80%, transparent 100%);

			&__overlay {
				position: absolute;
				width: $page-width;
				height: 100%;
				top: 0;
				left: 50%;
				transform: translateX(-50%);
				background: $surface-a-0;
				mask: linear-gradient(to right, #fff 0%, #fff 20%, transparent 25%, transparent 75%, #fff 80%, #fff 100%);
			}
		}
	}
}
